<h1><%=@appointment.first%> <%=@appointment.last%>, Thank you for scheduling an appointment with Jaiden Kallas.</h1>
<h2>Here is your appointment information, to make an changes just email jaiden at **EMAIL**</h2>
<h2> Service: <%= @appointment.service%></h2>
<h2> Date: <%= @appointment.date%></h2>
<h2> Time: <%= @appointment.time%></h2>